<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block page_title %}Jamie Hurst - Software and System Engineer, Enthusiast of Terrible Cars{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="{% block description %}Jamie Hurst - Software and System Engineer, Enthusiast of Terrible Cars{% endblock %}" />
    <meta name="author" content="Jamie Hurst" />
    <link rel="canonical" href="{{ site_url }}/{{ canonical }}" />

    <meta property="og:type" content="{% block og_type %}website{% endblock %}" />
    <meta property="og:site_name" content="Jamie Hurst's Blog" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:title" content="{{ self.page_title() | trim }}" />
    <meta property="og:description" content="{{ self.description() | trim }}" />
    <meta property="og:url" content="{{ site_url }}/{{ canonical }}" />
    <meta property="og:image" content="{{ site_url }}{% block image %}/static/apple-touch-icon.png{% endblock %}" />
    {% block og_extra %}{% endblock %}

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ self.page_title() | trim }}" />
    <meta name="twitter:description" content="{{ self.description() | trim }}" />
    <meta name="twitter:image" content="{{ site_url }}{{ self.image() | trim }}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap" />
    <link rel="stylesheet" type="text/css" href="/static/css/default.min.css?v={{ version }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png" />
    <link rel="manifest" href="/static/site.webmanifest" />
</head>
<body>
    <header role="banner">
        <a href="/">Jamie Hurst - Software and System Engineer, Enthusiast of Terrible Cars</a>
        <p class="float-right links">
            <a href="/">Blog</a>
            <a href="/now">Now</a>
            <a href="/journal">Journal</a>
            <a target="_blank" rel="me" href="https://github.com/jamiefdhurst">GitHub</a>
            <a target="_blank" rel="me" href="https://howdee.social/@jamiefdhurst">Mastodon</a>
        </p>
    </header>
    <main role="main">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer role="contentinfo">&copy; Copyright Jamie Hurst 2021-{{ year }}<br />System {{ version }}</footer>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-217639974-1"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-217639974-1');</script>
</body>
</html>
