<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Jamie's Blog {% block title %}{% endblock %}</title>
    <meta name="viewport" content="device-width" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.min.css') }}" />
</head>
<body>
    <header role="banner">
        <h1><a href="/">Jamie Hurst - Software and System Engineer</a></h1>
    </header>
    <main role="main">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer role="contentinfo">&copy; Copyright Jamie Hurst 2021-2022<br />System {{ g.version }}</footer>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-217639974-1"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-217639974-1');</script>
</body>
</html>
