{% extends 'base.html' %}

{%block title %}- Software and System Engineer, Enthusiast of Terrible Cars{% endblock %}

{% block content %}
  {% for article in articles %}
    <article>
      <h1><a href="/{{ article.get_name() }}">{{ article.get_title() }}</a></h1>
        <p class="date">
          Posted on {{ article.get_date().strftime('%A %B %-d, %Y') }}
        </p>
        <div class="summary">
          {% if article.get_image() %}<p>{{ article.get_image()|safe }}</p>{% endif %}
          {% if article.get_summary() %}
            <p>{{ article.get_summary()|safe }}</p><p><a href="/{{ article.get_name() }}">Read More</a></p>
          {% else %}
            <p><a href="/{{ article.get_name() }}">Read</a></p>
          {% endif %}
        </div>
    </article>
  {% endfor %}
  <nav class="pagination">
    <ol>
      {% for page in pages %}
        <li class="{% if current_page == loop.index %}current{% endif %}">
          <a href="/{% if loop.index > 1 %}?page={{ loop.index }}{% endif %}">{{ loop.index }}</a>
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endblock %}