{% extends 'base.html' %}

{% block content %}
  <article class="view">
    <h2>What I'm doing right now...</h2>
    <div class="content">
      <p>
        My blog talks a little about some of my interests and happenings, but doesn't describe what I'm actually doing 
        day-to-day. I aim to update this page relatively frequently to tell you what I'm currently up to in and outside of 
        work.
      </p>
      <ul>
        <li>Working at Tesco Bank as a Principal Engineer, currently rolling out the new containerised platform and building out standards, patterns and pipelines to get our engineers ready to deliver our first production application.</li>
        <li>Recently spoke at <a href="https://www.youtube.com/watch?v=saY2IwJquhE" target="_blank">DevHub North on Tesco Bank's Technology journey so far</a>, and what's coming next.</li>
        <li>Still enjoying driving the Civic Type-R as the main car, although there are now a couple of cosmetic fixes it needs.</li>
        <li>Wondering what I need to fix on the Land Rover Discovery first as we approach the MOT in January.</li>
        <li>Learning about GitHub Actions and wondering if I can finally make the switch away from Jenkins.</li>
        <li>Playing the occasional bit of GTA V and Online, when I have a spare few minutes.</li>
        <li>Sitting in our back room where we have an open fire, as we try and reduce our normal heating bills through keeping the gas off during the day and evening.</li>
        <li>Continuing our house renovations by completely re-plastering and decorating the bedrooms on the first floor.</li>
      </ul>
      <p>
        This page was inspired by <a href="https://www.tempertemper.net/now" target="_blank">Martin Underhill's Now Page</a>
        and <a href="https://nownownow.com/about" target="_blank">Derek Siver's nownownow.com</a>.
      </p>
    </div>
  </article>
{% endblock %}