{% extends 'base.html' %}

{%block title %}- What I'm Doing Right Now{% endblock %}

{% block content %}
  <article class="view">
    <h1>What I'm doing right now...</h1>
    <div class="content">
      <p>
        My blog talks a little about some of my interests and happenings, but doesn't describe what I'm actually doing 
        day-to-day. I aim to update this page relatively frequently to tell you what I'm currently up to in and outside of 
        work.
      </p>
      <p><em>Last updated: 11th May 2025</em></p>
      <ul>
        <li>Our son is almost a year old, and he continues to be the best person ever and the best thing that's ever happened to me and my wife.</li>
        <li>Meeting up with local friends a lot more often for pub trips, which is something I was out of practice with - this has been a huge mental health boost.</li>
        <li>Continuing to focus on developer experience at work, with a particular focus on new generative AI tools and workflows.</li>
        <li>Still travelling a lot with work, I tend to be in Amsterdam every 3 weeks or so, with occasional stops in Manchester or London.</li>
        <li>Recently splashed out on an M4 Max MacBook Pro, which I'm using to write this on a Sunday morning.</li>
        <li>Still hatching plans to build a home server that does a little more than file storage, but for that I need to build something - I haven't done that for a while!</li>
        <li>Not doing a very good job of posting at all on <a href="https://howdee.social/@jamiefdhurst" target="_blank">Mastodon</a>, mostly lurking and reading these days.</li>
        <li>Planning in the next few weeks to clear out the garage, which would allow me a bit of space to look for a project car again, something I haven't had since the Land Rover was stolen.</li>
        <li>Finished the Zelda games on the Switch for now, I'm back onto the Xbox Series X and playing Assassin's Creed Valhalla.</li>
        <li>Somehow, I'm still reading the <a href="https://www.oreilly.com/library/view/the-staff-engineers/9781098118723/" target="_blank">Staff Engineer's Path by Tanya Reilly</a>, trying to find a little bit of time to finish it as I've already learnt a lot.</li>
      </ul>
      <p>
        This page was inspired by <a href="https://www.tempertemper.net/now" target="_blank">Martin Underhill's Now Page</a>
        and <a href="https://nownownow.com/about" target="_blank">Derek Siver's nownownow.com</a>.
      </p>
    </div>
  </article>
{% endblock %}