{% extends 'base.html' %}

{% block content %}
  <article class="view">
    <h1>What I'm doing right now...</h1>
    <div class="content">
      <p>
        My blog talks a little about some of my interests and happenings, but doesn't describe what I'm actually doing 
        day-to-day. I aim to update this page relatively frequently to tell you what I'm currently up to in and outside of 
        work.
      </p>
      <p><em>Last updated: 18th May 2023</em></p>
      <ul>
        <li>After 3 months I've now settled in my role as principal software engineer at Booking.com where I'm working with multiple teams to improve developer experience across the company.</li>
        <li>My (still secret) side project continues, although I've not had as much time to spend on it recently.</li>
        <li>My habits have slipped somewhat, although I'm right in the middle of a diet after spending the last few weeks frequently eating out while working away.</li>
        <li>Still enjoying driving the Civic Type-R as the main car, although there are now a couple of cosmetic fixes it needs. The MOT is rapidly approaching...</li>
        <li>The Discovery was back, briefly, and then developed a catastrophic coolant leak. It's in the garage having that rectified this week, which will include a new head gasket.</li>
        <li>I've moved away from GitHub Actions and back to Jenkins, building out a new workflow to save money in AWS while providing the same convenience I want when playing with personal projects. A blog post is coming soon...</li>
        <li>Playing the occasional bit of GTA Online and Goldeneye 007 on the Switch recently, while resisting buying Tears of the Kingdom.</li>
        <li>Taking a break from house renovations after completing the first floor rooms, although we'll be starting on the ground floor shortly.</li>
      </ul>
      <p>
        This page was inspired by <a href="https://www.tempertemper.net/now" target="_blank">Martin Underhill's Now Page</a>
        and <a href="https://nownownow.com/about" target="_blank">Derek Siver's nownownow.com</a>.
      </p>
    </div>
  </article>
{% endblock %}