@import "https://fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C400i%2C700%2C900%7CRoboto%3A100%2C100italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C700%2C700italic%2C900%2C900italic&subset=cyrillic";
@import "../node_modules/normalize.css/normalize";
@import "../node_modules/bourbon/core/bourbon";
@import "variables";

html, body {
    height: 100%;
    margin: 0;
    min-height: 100%;
    padding: 0;
}

html {
    font-size: 12px;
    line-height: 1.15;

    @media screen and (min-width: $tablet) {
        font-size: 16px;
    }
}

body {
    color: $textColour;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
}

h1, h2, h3, h4 {
    color: $headingColour;
}

a, a:link, a:visited, a:active {
    color: $linkColour;
    text-decoration: none;
}

a:hover {
    color: $linkColour;
}

header[role=banner] {
    margin: 0 auto;
    max-width: $max;
    padding: 1rem 0;
    width: 90%;

    > a {
        display: inline-block;
        font-size: 1.125rem;
        font-weight: 400;
        margin: 0;
        padding: 1rem 0;
        vertical-align: top;
    }

    p {
        margin: 0;
        padding-top: .5rem;
    }
}

main {
    margin: 0 auto;
    max-width: $max;
    padding: 1rem 0;
    width: 90%;
}

footer[role=contentinfo] {
    color: $footerColour;
    font-size: .9rem;
    font-weight: 400;
    margin: 0 auto;
    max-width: $max;
    padding: 2rem 0;
    width: 90%;
}

.float-right {
    float: right;
}

.links > a {
    box-shadow: inset 0 -2px 0 currentColor;
    margin-left: 1em;
    transition: .3s;

    &:hover {
        box-shadow: none;
    }
}

article {
    margin-bottom: 7rem;
    padding: 1rem 0;

    h1 {
        font-size: 2.5rem;
        font-weight: 900;
        margin: 0 auto;
        max-width: 700px;
        padding: 1.5rem 0 1.25rem;

        a, a:link, a:visited, a:active {
            font-weight: 900;
        }
    }

    p.date {
        color: $footerColour;
        font-size: 1.125rem;
        font-weight: 400;
        margin: 0 auto 2.5rem;
        max-width: 700px;
        padding: 0 0 1.5rem;
    }

    .summary, .content {
        margin: 0 auto;
        max-width: 700px;

        &.content {
            margin-top: 2.5rem;
        }

        h3 {
            color: $textColour;
            font-size: 1.5rem;
            font-weight: 700;
            margin: 1.5rem auto 1rem;
            padding: 0;
        }

        p, ol, ul {
            line-height: 1.75;
            margin: 0 0 1.5rem;
        }

        a, a:link, a:visited, a:active, a:hover {
            box-shadow: inset 0 -2px 0 currentColor;
            transition: .3s;
        }

        a:hover {
            box-shadow: none;
        }

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }

        code {
            background-color: $formColour;
            color: #fff;
            font-size: .75rem;
            padding: .125rem;
        }

        pre > code {
            display: block;
            line-height: 1.25;
            max-width: 100%;
            overflow: auto;
            padding: .5rem;
        }
    }

    .float-right {
        margin: 0;
    }
}

.button {
    background-color: $buttonColour;
    border: 1px solid $buttonColour;
    border-radius: 2px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    padding: 0.75rem 2rem;
    text-decoration: none;
    text-shadow: none;
    transition: .2s;

    &:link, &:visited, &:active, &:hover {
        color: #fff;
    }

    &:hover {
        background-color: $buttonHoverColour;
        border-color: $buttonHoverColour;
    }

    &.button-outline {
        background-color: #fff;
        border: 1px solid $buttonColour;
        color: $linkColour;

        &:link, &:visited, &:active, &:hover {
            color: $linkColour;
        }

        &:hover {
            background-color: $buttonLightColour;
        }
    }
}

.pagination {
    ol {
        list-style: none;
        margin: 1rem 0;
        text-align: center;
    }

    li {
        display: inline-block;

        a:link, a:visited, a:active, a:hover {
            background-color: $buttonLightColour;
            border-radius: 3px;
            color: $linkColour;
            font-weight: 300;
            padding: .375rem .75rem;
            transition: .3s;
        }

        a:hover {
            background-color: #fff;
        }

        &.current {
            a:link, a:visited, a:active, a:hover {
                background-color: $buttonColour;
                color: #fff;
            }

            a:hover {
                background-color: $buttonColour;
            }
        }
    }
}

.prev-next {
    border-top: 2px solid $borderColour;
    padding: .625rem 0;
    display: flex;
    line-height: 1.5;
    margin: 2rem auto;
    max-width: 700px;

    > div {
        display: inline-block;
        width: 50%;

        &.next {
            text-align: right;
        }
    }

    span {
        color: $footerColour;
        display: block;
        font-size: .875rem;
    }
}
